<!DOCTYPE HTML>

<html>
   <% include ./partials/head %>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="/">Dasha Murauyova</a></h1>
					</header>



				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa-diamond"></span></div>
							<h2>Dasha Murauyova</h2>
							<p>Full-Stack Web Developer</p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">About</h2>
										<p>I learned the hard way to follow my heart. First, I left my comfort zone for a new country, USA, and now it lead me to this exciting chapter in my life. I’m currently transitioning to the new career of web development after exploring sales, healthcare and social studies. My experience helped me evolve patience, stress management, and communication skills, but most importantly, it pointed me closer to my passion- my curiosity about the ever-evolving world of the web. Like nothing else, coding always puts you face to face with new challenges to overcome, problems to solve, and new ideas to implement. And aren’t these the key components of the most satisfying career path to take?</p>
										<!-- <a href="/about" class="special">Learn more</a> -->
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic77.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Skills</h2>
										<ul class=" skills">
											<div class="column">
												<li><img src="images/icons/html5.png">  HTML5</li>
												<li><img src="images/icons/css.png"> CSS3</li>
												<li><img src="images/icons/js.png"> JavaScript</li>
												<li><img class="long" src="images/icons/nodeJS.png"> NodeJS, Express</li>
											</div>
											<div class="column">
												<li><img src="images/icons/ruby.png"> Ruby, Ruby on Rails</li>
												<li><img class="long" src="images/icons/ajax.png"> AJAX</li>
												<li><img src="images/icons/jquery.png"> JQuery</li>
												<li><img src="images/icons/git.png"> GIT, Github</li>
											</div>
										</ul>
										<!-- <a href="/resume" class="special">Download</a> -->
									</div>
								</div>
							</section>


						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Resume</h2>
										<p>Available for download.</p>
										<a href="/files/Resume.pdf" class="special">View</a>
										<a href="/download" class="special">Download</a>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Projects</h2>
									<section class="features">
										<article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3 class="major">Birch Massage</h3>
											<p>Personal website of a massage therapist, created with NodeJS and MongoDB.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Challenge Accepted</h3>
											<p>Website to create, share, accept and accomplish a variety of
                        challenges, built on Ruby on Rails.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
											<h3 class="major">AlumNUTS</h3>
											<p>Application designed to help WD program officers to gauge the
                        program's success during a graduate's job search and subsequent hire.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
											<h3 class="major">EcoDash</h3>
											<p>CRUD application for discussing environmental issues, built
                        with Sinatra and PSQL.</p>
											<a href="#" class="special">Learn more</a>
										</article>
									</section>
	<!-- 								<ul class="actions">
										<li><a href="/projects" class="button">Browse All</a></li>
									</ul>
 -->								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<form method="post" action="#">
								<div class="field">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field">
									<label for="email">Email</label>
									<input type="email" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="4"></textarea>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
							<ul class="contact">
								<li class="fa-phone"><a target="_blank" href="tel:+13477770584">(347) 777-0584</a></li>
								<li class="fa-envelope"><a target="_blank" href="mailto:dashamurauyova@gmail.com">dashamurauyova@gmail.com</a></li>
								<li class="fa-linkedin"><a target="_blank" href="https://www.linkedin.com/in/dashamurauyova">Linkedin</a></li>
								<li class="fa-github"><a target="_blank" href="https://github.com/Muravkina">GitHub</a></li>
								<li class="fa-facebook"><a target="_blank" href="https://www.facebook.com/darya.murauyova?ref=bookmarks">Facebook</a></li>
								<li class="fa-instagram"><a target="_blank" href="https://www.instagram.com/murafkina/">Instagram</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Muravkina. All rights reserved.</li></li>
							</ul>
						</div>
					</section>

			</div>

      <% include ./partials/scripts %>

	</body>
</html>
