<!DOCTYPE HTML>

<html>
   <% include ./partials/head %>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="/">Dasha Murauyova</a></h1>
					</header>



				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon"></span></div>
							<h2>Dasha Murauyova</h2>
							<p>Full-Stack Web Developer</p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a class="image"><img src="images/pic01.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">About</h2>
										<p>I learned the hard way to follow my heart. First, I left my comfort zone for a new country, USA, and now it lead me to this exciting chapter in my life. I’m currently transitioning to the new career of web development after exploring sales, healthcare and social studies. My experience helped me evolve patience, stress management, and communication skills, but most importantly, it pointed me closer to my passion- my curiosity about the ever-evolving world of the web. Like nothing else, coding always puts you face to face with new challenges to overcome, problems to solve, and new ideas to implement. And aren’t these the key components of the most satisfying career path to take?</p>
										<!-- <a href="/about" class="special">Learn more</a> -->
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a class="image"><img src="images/pic77.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Skills</h2>
										<ul class=" skills">
											<div class="column">
												<li><img src="images/icons/html5.png">  HTML5</li>
												<li><img src="images/icons/css.png"> CSS3</li>
												<li><img src="images/icons/js.png"> JavaScript</li>
												<li><img class="long" src="images/icons/nodeJS.png"> NodeJS, Express</li>
												<li><img src="images/icons/mongoDB.png"> MongoDB</li>
											</div>
											<div class="column">
												<li><img src="images/icons/ruby.png"> Ruby, Ruby on Rails</li>
												<li><img src="images/icons/postgress.png"> PostgreSQL</li>
												<li><img class="long" src="images/icons/ajax.png"> AJAX</li>
												<li><img src="images/icons/jquery.png"> JQuery</li>
												<li><img src="images/icons/git.png"> GIT, Github</li>
											</div>
										</ul>
										<!-- <a href="/resume" class="special">Download</a> -->
									</div>
								</div>
							</section>


						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a class="image"><img src="images/pic02.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Resume</h2>
										<p> "A short document describing your education, work history, etc., that you give an employer when you are applying for a job."  <i>Merriam-Webster's Collegiate Dictionary.</i>  <br><br>Available for download.</p>
										<a href="/files/Resume.pdf" class="special">View</a>
										<a href="/download" class="special">Download</a>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Projects</h2>
									<section class="features">
										<article>
											<a href="http://birchmassage.com/" target="_blank" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3 class="major">Birch Massage</h3>
											<p>Personal website and a blog of a massage therapist, created with NodeJS and MongoDB.</p>
											<div class="description">
												<p>
													<ul>
														Features include:
														<li>Ability to create, edit or delete blog posts, add tags or attach images. All done using ajax requests.</li>
														<li>Visitors can search blog posts by tags or keywords, also done by ajax calls.</li>
														<li>Blog posts pagination.</li>
														<li>Popular posts based on comments, and related posts based on tags.</li>
														<li>Ability to share posts on social media (facebook, twitter, linked).</li>
														<li>User subscription to the newest posts via email.</li>
														<li>Full user authentication for the blog owner.</li>
														<li>Google calendar implementation to display owner’s schedule.</li>
													</ul>
												<a href="http://birchmassage.com/" target="_blank" class='button small fit'>Launch</a>
											</div>
											<a href="#" class="special display">Learn more</a>
										</article>
										<article>
											<a href="https://challenge-accepted.herokuapp.com/" target="_blank" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Challenge Accepted</h3>
											<p>Website to create, share, accept and accomplish a variety of
                        challenges, built on Ruby on Rails.</p>
                      <div class="description">
												<p>Features include the ability to create public challenges that will be displayed on the website, as well as creating private challenges for a specific person. Invitations to see the challenge are sent via email. Those who accepted the challenge can submit proof by uploading videos and images of their accomplishments.  The website also provides the ability to sign up via Facebook and share any inspiring challenges by posting them on the facebook wall. Users can also share their opinions about any challenges by leaving a comment. No limits to the content of a challenge, or on the amount of laughs. <br>

												<b>Technologies:</b> <br>
												Ruby on Rails, JavaScript, jQuery, PostgreSQL, HTML, CSS, Facebook API</p>
												<a href="https://challenge-accepted.herokuapp.com/" target="_blank" class='button small fit'>Launch</a>
											</div>
											<a href="#" class="special display">Learn more</a>
										</article>
										<article>
											<a href="https://alumnuts.herokuapp.com/" target="_blank" class="image"><img src="images/pic06.jpg" alt="" /></a>
											<h3 class="major">AlumNUTS</h3>
											<p>Application designed to help WD program officers to gauge the
                        program's success during a graduate's job search and subsequent hire.</p>
                      <div class="description">
												<p>     The app provides web development program officers an interactive snapshot of the graduated cohorts to effectively gauge the program's success during a graduate's job search and subsequent hire.<br>
										    Via the student portal, a student can create a profile, log in, and update their profile with employment status, contact info, password, and skills.
										    Via the officer's portal, an outcomes officer can log in and view targeted data from an individual graduate or from an entire cohort.<br>
									     	The officer can view graphic analytics based on the updates a student enters and from his/her 100-Day Survey, as well as the total employment rate across all his cohorts. Additionally, an officer can access a screen of graphics laying out stats per cohort.<br>
									     	The officer is also alerted when a given cohort graduated over 100 days ago, at which point he can press a button to auto-send a 100-Day Survey to every member of that cohort. The student then receives an email with a link to the survey. All survey answers are stored in the database which immediately updates the analytics.<br>

												<b>Technologies:</b><br>
												Ruby on Rails, ChartJS, ActiveRecord, ActionMailer, JQuery, AJAX</p>
												<a href="https://alumnuts.herokuapp.com/" target="_blank" class='button small fit'>Launch</a>
											</div>
											<a href="#" class="special display">Learn more</a>
										</article>
										<article>
											<a href="https://ecodash.herokuapp.com/" target="_blank" class="image"><img src="images/pic07.jpg" alt="" /></a>
											<h3 class="major">EcoDash</h3>
											<p>CRUD application for discussing environmental issues, built
                        with Sinatra and PSQL.</p>
                      <div class="description">
												<p>  Online discussion forum, where users can create topics of their concern, comment and vote on other users’ entries. Most voted topics are displayed first. Users have the ability to add tags to the topic they’re creating and search entries by tags. The first tag displayed is the user location, obtained via an API call. The app includes full user authentication. Accounts are password protected. <br>
												<b>Technologies: </b><br>
												HTML, CSS, JavaScript, Sinatra, PostgreSQL, JQuery, RestClient, RedCarpet</p>
												<a href="https://ecodash.herokuapp.com/" target="_blank" class='button small fit'>Launch</a>
											</div>
											<a href="#" class="special display">Learn more</a>
										</article>
									</section>
	<!-- 								<ul class="actions">
										<li><a href="/projects" class="button">Browse All</a></li>
									</ul>
 -->								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<form method="post" action="#">
								<div class="field">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field">
									<label for="email">Email</label>
									<input type="email" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="4"></textarea>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
									<div class="cssload-container"><div class="cssload-zenith"></div></div>
								</ul>
							</form>
							<ul class="contact">
								<li class="fa-phone"><a target="_blank" href="tel:+13477770584">(347) 777-0584</a></li>
								<li class="fa-envelope"><a target="_blank" href="mailto:dashamurauyova@gmail.com">dashamurauyova@gmail.com</a></li>
								<li class="fa-linkedin"><a target="_blank" href="https://www.linkedin.com/in/dashamurauyova">Linkedin</a></li>
								<li class="fa-github"><a target="_blank" href="https://github.com/Muravkina">GitHub</a></li>
								<li class="fa-facebook"><a target="_blank" href="https://www.facebook.com/darya.murauyova?ref=bookmarks">Facebook</a></li>
								<li class="fa-instagram"><a target="_blank" href="https://www.instagram.com/murafkina/">Instagram</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Muravkina. All rights reserved.</li></li>
							</ul>
						</div>
					</section>

			</div>

      <% include ./partials/scripts %>

	</body>
</html>
